# JS
.cache
node_modules
js/dist/

# Python
__pycache__/
*.py[cod]
dist/
.venv/

# Marimo
__marimo__

# Built JS bundled into Python package
src/chart_xkcd/static/chart.xkcd.min.js
src/chart_xkcd/static/widget.js

# Python-generated HTML files
examples/*.html

# Miscellaneous
*~
.DS_Store
