[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "chart-xkcd"
version = "0.1.0"
description = "Python API for generating xkcd-style charts"
license = "MIT"
requires-python = ">=3.13"

[tool.hatch.build.targets.wheel]
packages = ["src/chart_xkcd"]
